{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
    .login-dark {
        height: 650px;
        background-size: cover;
        position: relative;
        padding: 6px;
        border-color: #03dac5;
    }

    .login-dark form {
        max-width: 450px;
        width: 90%;
        background-color: #1e2833;
        padding: 30px;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        box-shadow: 3px 3px 4px #03dac5;
    }

    .login-dark .illustration {
        text-align: center;
        padding: 15px 0 20px;
        font-size: 100px;
        color: #2980ef;
    }

    .login-dark form .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
    }

    .login-dark form .btn-primary {
        background: #214a80;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: none;
    }

    .login-dark form .btn-primary:hover,
    .login-dark form .btn-primary:active {
        background: #214a80;
        outline: none;
    }

    .login-dark form .forgot {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #6f7a85;
        opacity: 0.9;
        text-decoration: none;
    }

    .login-dark form .forgot:hover,
    .login-dark form .forgot:active {
        opacity: 1;
        text-decoration: none;
    }

    .login-dark form .btn-primary:active {
        transform: translateY(1px);
    }
</style>

<div class="login-dark">
    <form method="post">
        <h2 style="text-align: center;">Formulario de inicio de sesión</h2>
        <div class="illustration">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
              </svg>
        </div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <br>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
        <div style="text-align: center;">
            <button style="padding-left: 40%; padding-right: 40%;" class="btn btn-primary btn-block" type="submit">Log In</button>
        </div>
        <br>
        <a href="#" class="forgot">Restaurar Contraseña?</a>
    </form>
</div>


{% endblock %}